<div class="main">

    <div class="contenedor">
        <h1 style="border-bottom: 1px ridge white;">
            Introduccion
        </h1>

        <p>
            Buenos días, mi nombre es Jeremy Alfonso y busco programar en general.
            Desde que lo vi por primera vez en un curso, me encantó y lo seguí estudiando de entonces.
            Ando estudiando desarrollo de software y no tengo experiencia laboral real aun, pero sé que no importa que
            voy a disfrutar trabajar de esto ya que es bastante divertido.
            He visto Java, Python, Angular, NodeJs, SQL y tengo conocimientos de inglés así que no es difícil de
            entender la mayoría de las cosas que normalmente están en inglés.
            Espero poder hacer esto por el resto de mi vida.
        </p>
       
        <button (click)="volver()" class="button"> <i class='bx bxs-right-arrow'></i> </button>

    </div>

</div>