<div class="main">

    <div class="contenedor-pantallas-arriba">

        <div class="pantalla izquierda" routerLink="/aboutMe">
            <h2> Acerca de mi </h2>
            <div class="acerca-extra">
                <label for=""> Sobre mi </label>
                <label for=""> Porque hago esto </label>
                <label for=""> Experiencia laboral </label>
                <label for=""> Como llegue a esto</label>
            </div>
        </div>

        <div class="pantalla medio">
            <div class="introduccion">
                <h1> Jeremy Gabriel Alfonso </h1>
                <h2> Programador Jr </h2>
                <p>
                    Estoy estudiando desarrollo de software, tengo conocimientos en
                    varios lenguajes, conocimientos de ingles y el entusiasmo por programar.
                </p>
            </div>
        </div>

        <div class="pantalla derecha" routerLink="/proyects">
            <h2> Mis proyectos </h2>
            <div class="cuadrados-proyectos">
                <div class="cuadrado"></div>
                <div class="cuadrado"></div>
                <div class="cuadrado"></div>
                <div class="cuadrado"></div>
                <div class="cuadrado"></div>
                <div class="cuadrado"></div>
            </div>
        </div>

    </div>

    <div class="pantalla abajo">
        <div class="contactos">
            <label for=""> Linkedin </label>
            <a href="http://www.linkedin.com/in/jeremy-alfonso-250a902a2" target="_blank"> Jeremy Alfonso </a>
            <label for=""> Whatsapp </label>
            <label for="" style="background-color: rgba(0, 255, 85, 0.651);"> +54 9 11 2766-5423 </label>
        </div>
    </div>

</div>